<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<title>关于本站</title>
	<!-- 公共css,js -->
	<th:block th:include="layout/Global :: head"></th:block>
</head>
<body>
	<!-- 加载ing -->
	<div th:replace="layout/Global :: loading"></div>
	<!-- 页头 -->
	<div th:replace="layout/Global :: header"></div>
	<!-- 主体 -->
	<section class="container">
		<!-- InstanceBeginEditable name="EditRegion1" -->

		<link href="../css/side-bar.css" rel="stylesheet" />
		<link href="../css/About.css" rel="stylesheet" />

		<div class="about">
			<div class="layui-container">
				<div class="layui-row synopsis">
					<div class="layui-col-lg8 layui-col-lg-offset2 text-center">
						<img class="layui-anim layui-anim-rotate" src="../images/favicon.ico" alt="img" oncontextmenu="return false;" ondragstart="return false;" />
						<h1 class="site-name wow lightSpeedIn">z-Zhan</h1>
						<p class="site-describe wow slideInLeft">
							一个JAVA程序员的个人博客，记录博主学习和成长之路，分享技术和源码
						</p>
						<p class="site-link text-center wow bounceInRight">
							<i class="layui-icon layui-icon-link"></i>
							<a href="">www.zzhan.top</a>
						</p>
					</div>
				</div>
				<div class="introduce">
					<fieldset class="layui-elem-field layui-field-title wow zoomIn">
						<legend class="text-center">简介</legend>
						<div class="layui-field-box">
							<p>一直以来，也总惦记着给自己认认真真的做一套博客，迟迟未动手的原因有很多，没时间、不想维护、懒，都是拖延至今的因素。 经过一周的反思和规划，决定一切从零开始，梳理所学的点点滴滴，建立适合自己的知识体系。</p>
							<h1>开发环境</h1>
							<p>本博客网站前端使用layui实现，借鉴自Q-Blog v2.0的前端模版，在此感谢作者的分享，接入第三方登陆，一些需要登陆才能操作的动作，不需要额外的去注册，后端使用ok-admin改造来的，数据的存储采用的MySQL。</p>
							<p>非常感谢你的访问，若是在浏览过程中遇到问题或者Bug，欢迎留言告知。</p>
							<h1 class="text-center wow fadeInLeft">The End</h1>
						</div>
					</fieldset>
				</div>
			</div>
		</div>


		<script src="../js/side-bar.js"></script>
		<script>
            function iniParam (){
                console.log("时间轴流加载，动态表格自己根据需求修改吧");
            }
		</script>

		<!-- InstanceEndEditable -->
	</section>
	<!-- 页脚 -->
	<div th:replace="layout/Global :: footer"></div>
	<!-- 登录 -->
	<div th:replace="layout/Global :: login"></div>
</body>
</html>